/* * {
  font-family: Avenir !important;
} */

.ce-my-message-bubble {
  background-color: #7f1d1d !important;
}

#msg-textarea {
  width: calc(100% - 50px) !important;
}
.ce-upload-document-form{
  height: 5px !important;
}
 #ce-send-message-button {
  background-color: #4A5162 !important;
} 

#msg-form-container{
  background-color: #4A5162 !important;
} 

.ql-container {
  background-color: #4A5162 !important;
}
.ql-editor{
  color: antiquewhite !important;
}
#toolbar{
  background-color: #e2bcb4
}
#ce-send-message-button{
  transition: none !important;
}

.ce-my-message-timestamp {
  color: #7f1d1d !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

@media (max-width: 767px) {
.ce-chat-title{
  background-color: #4A5162 !important;
  margin-left: 56px !important;
  
}
.ce-chat-title-text{
  font-size: 20px !important;
}
}


.ce-chat-subtitle-text {
  font-size: 12px !important;
  color: #7f1d1d !important;
  font-weight: 600 !important;
}


.ql-editor {
  cursor: pointer;
  color: black;
  padding: 12px;
  font-size: 15px;
  white-space: pre-line;
  border-radius: 0.3em 1.3em 1.3em;
}
/* .anticon-arrow-up{
  display: none;
} */
.ce-chat-feed {
  max-height: 400px; /* Adjust the value as needed */
  overflow-y: auto;
}
