/* * {
  font-family: Avenir !important;
} */

.ce-my-message-bubble {
  background-color: #7f1d1d !important;
}

.ce-message-input-form{
  border: 2px solid #cb4e4e;
  border-radius: 10px;
  padding: 8px;
}
.ce-upload-document-form{
  height: 5px !important;
}
#ce-send-message-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #7f1d1d !important;
  transform: translateY(-10px);
}

.send-icon {
  background-color: #7f1d1d !important;
  margin-left: 8px !important;
}

#ce-upload-document-button {
  position: fixed;
  bottom: 110px;
  right: 30px;
  transform: translateY(-20px);
  z-index: 1;
}

@media (max-width: 767px) {
  #ce-send-message-button {
    right: 10px;
  }
}

.ce-my-message-timestamp {
  color: #7f1d1d !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.ce-chat-list-mobile-option, 
.ce-chat-settings-mobile-option {

  display: none;
}


@media (max-width: 767px) {
.ce-chat-title{
  background-color: #4A5162 !important;
  margin-left: 56px !important;
  
}
.ce-chat-title-text{
  font-size: 20px !important;
}
}


.ce-chat-subtitle-text {
  font-size: 12px !important;
  color: #7f1d1d !important;
  font-weight: 600 !important;
}


.ql-editor {
  cursor: pointer;
  color: black;
  padding: 12px;
  font-size: 15px;
  white-space: pre-line;
  border-radius: 0.3em 1.3em 1.3em;
}
.anticon-arrow-up{
  display: none;
}
.ce-chat-feed {
  max-height: 400px; /* Adjust the value as needed */
  overflow-y: auto;
}
